<div class="DETA">
    <p>
        KWD - Kuwaiti Dinar
        The Kuwaiti Dinar is the currency of Kuwait. Our currency rankings show that the most popular Kuwaiti Dinar
        exchange rate is the KWD to USD rate. The currency code for Dinars is KWD, and the currency symbol is KD. Below,
        you'll find Kuwaiti Dinar rates and a currency converter.

    </p>
    <p>
        Kuwait's central bank is called the Central Bank of Kuwait. As of March 2013, the Kuwaiti Dinar is the
        highest-valued currency in the world.

        In 1959, the Persian Gulf Rupee (XPGR) was issued by the Reserve Bank of India to be used in gulf countries,
        including Kuwait. Up until then, the Indian Rupee circulated alongside a number of different foreign coins.
        After gaining independence, the Kuwaiti Dinar was introduced in 1961 at a rate of 13.33 IND to 1 KWD. The
        Central Bank of Kuwait was established in 1969 to manage the state's currency system. In 1975, the Dinar was
        pegged to a weighted currency basket. When Iraq invaded Kuwait in 1990, the Iraqi Dinar was used for a brief
        period and the Kuwaiti Dinar plummeted in value. When the currency was reinstated in early 1991, its value
        returned to the pre-invasion rate and new banknotes were issued. From 2003 to 2007, the Dinar was pegged to the
        US Dollar.
    </p>
</div>