<div class="DETA">
    <p>
        EGP - Egyptian Pound
        The Egyptian Pound is the currency of Egypt. Our currency rankings show that the most popular Egyptian Pound
        exchange rate is the EGP to USD rate. The currency code for Pounds is EGP, and the currency symbol is £. Below,
        you'll find Egyptian Pound rates and a currency converter.
    </p>
    <p>
        Before the 19th century, locally minted coins were used in Egypt due to the absence of an official currency in
        the country. In 1834, a parliamentary bill issued a new currency based on a bimetallic system made up of gold
        and silver. This bill was executed in 1836 and the Egyptian Pound replaced the Egyptian Piastre, which had been
        used since Egypt was a part of the Ottoman Empire. In 1885, the bimetallic standard was replaced with the single
        gold standard due to fluctuations in the value of silver.

        In 1898, the National Bank of Egypt was formed, and began issuing the first banknotes a year later. These notes
        were convertible into gold until 1914, when the Egyptian Pound adopted a fixed exchange rate to the British
        Pound. In 1961, the Central Bank of Egypt was formed and was given the responsibility to manage and control the
        national currency. A year later, Egypt left the Sterling Area and pegged its value to the US Dollar until 1989.
        Today, the Egyptian Pound's exchange rate fluctuates while being closely managed by the central bank.
    </p>
</div>