<div class="DETA">
    <p>USD - US Dollar
        The US Dollar is the currency of United States. Our currency rankings show that the most popular US Dollar
        exchange rate is the USD to EUR rate. The currency code for Dollars is USD, and the currency symbol is $. Below,
        you'll find US Dollar rates and a currency converter.</p>
        <p>
            The US central bank is called the Federal Reserve Bank (commonly referred to as "The Fed"). The USD is the most traded currency in the forex market and can be paired with all other major currencies. Common names for the USD include the greenback, buck, green, dough, smacker, bones, dead presidents, scrillas, and paper.

Importance of the US Dollar
The US Dollar is the most commonly converted currency in the world and is regularly used as a benchmark in the Forex market. As the dominant global reserve currency, it is held by nearly every central bank in the world. Additionally, the Dollar is used as the standard currency in the commodity market and therefore has a direct impact on commodity prices.
        </p>
</div>