<div class="DETA">
    <p>
        EUR - Euro
        The Euro is the currency of Euro Member Countries. Our currency rankings show that the most popular Euro
        exchange rate is the EUR to USD rate. The currency code for Euros is EUR, and the currency symbol is €. Below,
        you'll find Euro rates and a currency converter.
    </p>
    <p>
        The central bank in Europe is called the European Central Bank (ECB). Currently, 17 EU member states have
        adopted the Euro. It is the second-most traded currency on the forex market, after the US Dollar, and also a
        major global reserve currency. Other common names for the Euro include Yoyo (Irish English), Leru (Spanish), and
        Ege (Finnish).

        Introduction of the Euro
        On January 1, 1999, the Euro (EUR) was introduced as an account currency, replacing the European Currency Unit
        at par. The European Currency Unit was a theoretical basket of currencies rather than a physical currency in and
        of itself. Initially, eleven of the countries in the European Economic and Monetary Union replaced their own
        currencies with the Euro: Austria, Belgium, Finland, France, Germany, Ireland, Italy, Luxembourg, the
        Netherlands, Portugal, and Spain. Greece followed suit in 2001, Slovenia in 2007, Malta and Cyprus in 2008,
        Slovakia in 2009 and Latvia in 2014.

        Use of the Euro outside the EU
        A number of sovereign states that are not part of the European Union have since adopted the Euro, including the
        Principality of Andorra, the Principality of Monaco, the Republic of San Marino, and the Vatican City. The Euro
        is also used in many territories, departments, and sovereign states of Euro-zone countries, such as the Azores,
        Balearic Islands, the Canary Islands, Europa Island, French Guiana, Guadeloupe, Juan de Nova, the Madeira
        Islands, Martinique, Mayotte, Reunion, Saint-Martin, Saint Pierre and Miquelon, to name just a few. The Euro is
        used as a trading currency in Cuba, North Korea, and Syria and several currencies are pegged to it.
    </p>
</div>